{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="untree_co-hero overlay" style="background-image: url({% static 'website/images/about_back.jpg' %});">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-12">
					<div class="row justify-content-center">
						<div class="col-lg-6 text-center">
							<span class="caption" data-aos="fade-up" data-aos-delay="0">Bizning dam olish maskanimiz</span>
							<h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">Biz haqimizda</h1>
						</div>
					</div>
				</div>
			</div> 
		</div> 
		<ul class="list-unstyled social-hero-section mb-0">
			<li data-aos="fade-left" data-aos-delay="0"><a href="https://t.me/joinchat/B2sziU0OYb3NJb13uRAekQ" target="_blank"><span class="icon-telegram"></span></a></li>
			<li data-aos="fade-left" data-aos-delay="100"><a href="https://www.instagram.com/ungordacha/" target="_blank"><span class="icon-instagram"></span></a></li>
			<li data-aos="fade-left" data-aos-delay="200"><a href="https://www.facebook.com/profile.php?id=100048134802128" target="_blank"><span class="icon-facebook"></span></a></li>
			<li data-aos="fade-left" data-aos-delay="300"><a href="https://www.youtube.com/channel/UCo5983NIBGe1g-BVvn9z0-Q" target="_blank"><span class="icon-youtube"></span></a></li>
		</ul>
	</div> 

	<div class="untree_co-section bg-1">
		<div class="container">
			<div class="row mb-4">
				<div class="col-12" data-aos="fade-up" data-aos-delay="0">
					<span class="subtitle">Biz haqimizda</span>
					<h2>Nima uchun <strong class="text-primary">Bizni tanlashadi</strong></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-md-6 mb-4 mb-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="0">
					<div class="service">
						<div class="image-cover">
							<img src="{% static 'website/images/meal.jpg' %}">
						</div>
						<span class="caption mb-2">01</span>
						<h3 class="mb-3">Mazali taomlar</h3>
						<p></p>
					</div> 
				</div>
				<div class="col-6 col-md-6 mb-4 mb-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="100">
					<div class="service">
						<div class="image-cover">
							<img src="{% static 'website/images/chef_2.jpg' %}">
						</div>
						<span class="caption mb-2">02</span>
						<h3 class="mb-3">Mohir Oshpazlar</h3>
						<p></p>
					</div> 
				</div>
				<div class="col-6 col-md-6 mb-4 mb-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="200">
					<div class="service">
						<div class="image-cover">
							<img src="{% static 'website/images/chef_3.jpg' %}">
						</div>
						<span class="caption mb-2">03</span>
						<h3 class="mb-3">Sifatli Xizmat</h3>
						<p></p>
					</div> 
				</div>
				<div class="col-6 col-md-6 mb-4 mb-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="300">
					<div class="service">
						<div class="image-cover">
							<img src="{% static 'website/images/party_2.jpg' %}">
						</div>
						<span class="caption mb-2">04</span>
						<h3 class="mb-3">Tadbirlar</h3>
						<p></p>
					</div> 
				</div>
			</div>
		</div> 
	</div> 

{% endblock %}